main {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    background-color: #2D8CFF;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #2681F2;
  }
  ::ng-deep .active-main{
      div{
          background: #0FCCCC !important;
      }
  }
  ::ng-deep #wc-footer {
    background: white !important;
    >div:nth-child(2) { 
        display: none !important; 
    }
    .join-audio{
        .img-mute{
            background-image: url('/assets/images/mice.png') !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
        .img-start-video{
            background-image: url('/assets/images/video.png') !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    }
    
  }